/* navbar styles */
.navbar {
  width: 100%;
  background: #e2e8f0;
  padding: 20px 13px;
  box-sizing: border-box;
}
.navbar .active-route {
  background-color: #2563eb;
}
.navbar ul {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  align-items: center;
}
.title {
  margin-right: auto;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2em;
}
.title a {
  margin-left: 0 !important;
}
.navbar button,
.navbar a,
.navbar span {
  margin-left: 22px;
}
.navbar span {
  cursor: pointer;
}
.navbar a {
  color: #333;
  text-decoration: none;
}
