@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #d1fae5; /* primary.200 color */
  color: #000;
}

.root-inner {
  min-height: 100vh;
}

.auth-screen > * {
  flex: 1 1 50%;
  max-width: 50%;
}
