@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #d1fae5; /* primary.200 color */
  color: #000;
}

.root-inner {
  min-height: 100vh;
}

/* .auth-screen > * {
  flex: 1 1 50%;
  max-width: 50%;
} */

/* Enter class */
.app-modal-enter {
  opacity: 0;
  transform: translateY(100px);
}
.app-modal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

/* Exit class */
.app-modal-exit {
  opacity: 1;
}
.app-modal-exit-active {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 300ms, transform 300ms;
}
